/*=======Font family IBM PLEX SANS=======*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');

/*=======Background Palet=======*/
:root{
    --txt-colour: #343A40;
    --bg-colour: #E5E5E5;
    --bg-dark: #052051;
    --bg-semi-dark: #072B61;
    --bg-semi: #0A3871;
    --bg-semi-light: #356EA9;
    --bg-light: #609ED4;
}
/*=======Font=======*/
:root{
    --ftn-IBM-Plex-Sans: "IBM Plex Sans", sans-serif;
}
body{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: var(--bg-colour);
    font-family: var(--ftn-IBM-Plex-Sans);
}
.logo{
    position: absolute;
    top: 4%;
    left: 4%;
}
.container-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.social-bar-first{
    position: fixed;
    top: 35%;
    left: 0px;
    align-items: flex-start;
    z-index: 100;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
}
.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}
.icon-linkedin{
    background: #0e76a8;
}
.icon-github{
    background: #333333;
}
.icon:first-child{
    border-radius: 0 1rem 0 0;
}
.icon:last-child{
    border-radius: 0 0 1rem 0;
}
.social-bar-second{
    position: absolute;
    top: 2%;
    left: 56%;
    z-index: 100;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon-second{
    color: white;
    text-decoration: none;
    font-size: 70px;
}
.icon-linkedin-second{
    margin-right: 10%;
    color: #0e76a8;
}
.icon-github-second{
    color: #333333;
}
.icon-second:first-child{
    border-radius: 30px;
}
.icon-second:last-child{
    border-radius: 30px;
}
.container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 80%;
}
.container-text{
    margin-left: 5%;
    height: 80%;
    width: 95%;
}
.input-text{
    font-size: 32px;
    color: var(--bg-semi);
    background: var(--bg-colour);
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
}
.container-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
}
.container-info-text{
    margin-top: 3%;
    width: 60%;
    color: #495057;;
}
.info-text{
    font-size: 12px;
    margin-left: 2%;
}
.container-btn-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 60%;
}
.btn{
    margin-left: 2%;
    margin-right: 2%;
    height: 75%;
    width: 45%;
}
.btn-encrypter{
    font-size: 16px;
    border-radius: 24px;
    color: white;
    border: none;
    background: var(--bg-semi);
}
.btn-desencrypter{
    font-size: 16px;
    border-radius: 24px;
    color: var(--bg-semi);
    background-color: #D8DFE8;
    border: solid 1px var(--bg-semi);
}
.container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 80%;
}
.first-part{
    height: 100%;
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 7px 0px 50px 28px rgba(0,0,0,0.3);
    border-radius: 32px;
}
.search-image{
    width: 100%;
}
.text-header{
    color: #343A40;
    font-size: 24px;
}
.text-paragraph{
    color: #495057;
    font-size: 16px;
}
.second-part{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 7px 0px 50px 28px rgba(0,0,0,0.3);
    border-radius: 32px;
}
.container-show-text{
    height: 85%;
    width: 90%;
}
.show-text{
    margin-top: 5%;
    font-size: 24px;
    color: #495057;
    border: none;
    outline: none;
    resize: none;
    width: 98%;
    height: 100%;
}
.container-btn-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.btn-copy{
    font-size: 16px;
    border-radius: 24px;
    color: var(--bg-semi);
    background: #D8DFE8;
    border: solid 1px var(--bg-semi);
    width: 60%;
    height: 75%;
}
::placeholder {color: var(--bg-semi);}

.icon:hover{
    padding-left: 4rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.42);
}
.btn-encrypter:hover{
    transition-duration: 4ms;
    background: #072B61;
    transform: scale(1.02);
    cursor: pointer;
}
.btn-desencrypter:hover{
    transition-duration: 4ms;
    background: #bfd3ec;
    transform: scale(1.02);
    cursor: pointer;
}
.btn-copy:hover{
    transition-duration: 4ms;
    background: #bfd3ec;
    transform: scale(1.02);
    cursor: pointer;
}
@media (max-width: 768px) {
    .container-main{
        flex-direction: column;
    }
    .container-left{
        margin-top: 25%;
        margin-bottom: 10%;
        width: 90%;
    }
    .container-bottom-left{
        height: 35%;
    }
    .container-info-text{
        width: 95%;
    }
    .container-text{
        margin-left: 0px;
        width: 100%;
    }
    .container-btn-left{
        width: 100%;
    }
    .search-image{
        display: none;
    }
    .container-right{
        width: 90%;
        margin-bottom: 10%;
        height: 15%;
    }
    .container-btn-copy{
        height: 100%;
    }
    .container-right{
        height: 35%;
    }
    .btn{
        height: 100%;
    }
    .show-text{
        height: 55%;
    }
    .btn-copy{
        width: 90%;
        height: 70%;
    }
    .break{
        display: none;
    }
    .social-bar-first{
        display: none;
    }
    .social-bar-second{
        top: 3%;
        left: 76%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 375px) {
    ::placeholder {font-size: 28px;}


    .container-bottom-left{
        height: 30%;
    }
    .container-text{
        height: 70%;
    }
    .container-info-text{
        width: 90%;
    }
    .container-btn-left{
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    .btn{
        height: 40%;
        width: 90%;
    }
    .show-text{
        height: 95%;
    }
    .btn-copy{
        width: 80%;
        height: 40%;
    }
    .social-bar-first{
        display: none;
    }
    .social-bar-second{
        top: 3%;
        left: 67%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .icon-second{
        font-size: 50px;
    }
}